
    <picture>
        {{- $image := resources.Get (.Destination) -}}
        {{ $isJPG := eq (path.Ext .Destination) ".jpg" -}}
        {{ $isPNG := eq (path.Ext .Destination) ".png" -}}
        {{ if ($isJPG) -}}
        {{ with resources.Get (replace .Destination ".jpg" ".avif") }}
        <source srcset="{{ .RelPermalink | safeURL }}" type="image/avif" >
            {{ end -}}
            {{ with resources.Get (replace .Destination ".jpg" ".webp") }}
        <source srcset="{{ .RelPermalink | safeURL }}" type="image/webp" >
            {{ end -}}
        {{ end -}}
        {{ if ($isPNG) -}}
            {{ with resources.Get (replace .Destination ".png" ".avif") }}
        <source srcset="{{ .RelPermalink | safeURL }}" type="image/avif" >
            {{ end -}}
            {{ with resources.Get (replace .Destination ".png" ".webp") }}
        <source srcset="{{ .RelPermalink | safeURL }}" type="image/webp" >
            {{ end -}}
        {{ end }}
        <img
        src="{{ $image.RelPermalink | safeURL }}"
        sizes="100vw"
        alt="{{ .Title }}" title="{{ .Title }}"
        loading="lazy"
        decoding="async"
        width="100%"
        height="100%"
        />
    </picture>
