<!-- <section class="section"> -->
  <div class="bottompanel">
    <p class="poweredby">⚡ Free Software Powered ⚡</p>
    <p class="poweredby-projects-text">Crunch · Fira Sans · Git · Hugo · JetBrains Mono · Kiss · Lato · Poppins · Space Mono · VS Code</p>
  </div>
  <div class="footer">
    <div class="container has-text-centered footer-top-pad">
      <p class="footeremoji"><span class="one-zero">10</span> 🤖 <span class="one-zero">10</p>
      <p class="license">© {{ now.Format "2006" }} <a href="https://github.com/chrissimpkins">Chris Simpkins</a></p>
      <p class="license">Content: <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0 license</a>
      </p>
      <p class="license">Source code: <a href="https://www.apache.org/licenses/LICENSE-2.0.html">Apache License,
          v2.0</a></p>
      <p class="footer-text-size footer-text-low-opacity"><a href="{{ .Site.BaseURL }}privacy-notice/">Privacy Notice</a> <span style="opacity: 30%;">·</span>
        <a href="{{ .Site.BaseURL }}sitemap.xml">Sitemap</a> <span style="opacity: 30%;">·</span> <a href="https://docs.gitlab.com/ee/user/project/pages/">Hosted on GitLab Pages</a></p>
    </div>
  </div>
<!-- </section> -->
{{ if .Site.GoogleAnalytics }}
{{ template "_internal/google_analytics.html" . }}
{{ end }}
{{ if .Site.Params.matomoAnalytics }}
{{- partial "analytics/matomo" . -}}
{{ end }}
{{ if .Site.Params.fathomAnalytics }}
{{- partial "analytics/fathom" . -}}
{{ end }}
{{ if .Site.Params.hotjarAnalytics}}
{{- partial "analytics/hotjar" . -}}
{{ end }}
{{ if .Site.Params.plausibleAnalytics}}
{{- partial "analytics/plausible" . -}}
{{ end }}
</body>
</html>
