<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  {{
  with
  .Site.LanguageCode
  }}
  lang="{{ . }}"
  {{
  end
  }}
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {{ if eq .IsHome false }}
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    {{ else }}
    <title>{{ .Site.Params.Info.homeTitle }}</title>
    {{ end }} 
    <meta
     name="description"
     content="{{ if .Params.summary }}{{ .Params.summary }}{{ else if .Site.Params.Description }}{{ .Site.Params.Description }}{{ else }}1010{{ end }}"
    />
    {{ if .Site.Params.Info.enableSocial }} {{- partial
    "social/opengraph" . -}} {{ end }}
    {{ if .Site.Params.rss }} 
      {{ with .OutputFormats.Get "rss" -}} 
        {{ printf `<link rel=%q type=%q href=%q title=%q />` .Rel .MediaType.Type .Permalink site.Title | safeHTML }} 
      {{ end }} 
    {{ end }}


    <!-- <link rel="stylesheet" href="{{ "css/style.css" | relURL }}">  -->
    {{ $kissstyle := resources.Get "css/style.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $kissstyle.Permalink }}">

    <!-- {{- range .Site.Params.Assets.customCSS -}}
    <link rel="stylesheet" href="{{ . | absURL }}" /> -->
    {{ $customstyle := resources.Get "css/custom.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $customstyle.Permalink }}">
    <!-- {{- end -}}  -->
    
    {{ if .Params.css }}
    <link rel="stylesheet" href="{{ .Params.css }}" />
    {{ end }} {{ if .Params.js }}
    <script src="{{ .Params.js }}"></script>
    {{ end }} {{ if or .Site.Params.Features.mathjax .Params.mathjax
    .Site.Params.Features.katex .Params.katex }} {{- partial "math" . -}} {{ end
    }} {{ if .Site.Params.Assets.googleFonts }} {{- partial "gfonts" . -}} {{
    end }}
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/apple-touch-icon.png?v=1"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon-32x32.png?v=1"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon-16x16.png?v=1"
    />
    <meta name="google-site-verification" content="HYCfY-z6fAd6K5kjXwhHfliRYgEIc6uWuo6c3KMngoc" />
    <meta name="msvalidate.01" content="8AEBC07CDBECC0C2844FFF10F8DFCADE" />
    <link rel="manifest" href="/site.webmanifest?v=1" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v=1" color="#1e2931" />
    <link rel="shortcut icon" href="/favicon.ico?v=1" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <link rel="canonical" href="{{ .Permalink }}" />
    <meta name="theme-color" content="#ffffff" />
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&text=10_&display=swap" rel="stylesheet">
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet"> 
    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body></body>
</html>
