{{ range first 1 . }}
<a class="tags" href="{{ "/tags/" | relURL }}{{ . | urlize }}/">#{{ . }}</a>
{{ end }}

{{ if gt (len .) 1 }}
  {{ range after 1 . }}
  · <a class="tags" href="{{ "/tags/" | relURL }}{{ . | urlize }}/">#{{ . }}</a>
  {{ end }}
{{ end }}
