a:hover {
  cursor: pointer;
  text-decoration: none !important;
  border-bottom: 0px !important;
  color: #f03c02;
}

.one-zero {
  font-family: "Space Mono", monospace;
  font-weight: 700;
}

#nav-heading {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 28px;
  color: #1c0113 !important;
}

@media (min-width: 43.75em) {
  #nav-heading {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-size: 36px;
    color: #1c0113 !important;
  }
}

.nav-item a {
  color: #cccccc;
}

.nav-item a:hover {
  color: #27353b;
}

.title {
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  color: #1c0113 !important;
}

.subtitle + .title {
  margin-top: -15px;
}

div.content,
.content p {
  font-family: "Lato", Arial, Helvetica, Calibri, sans-serif;
  font-size: 1.1em;
  line-height: 1.4;
  color: #131516;
  text-align: left;
}

@media (min-width: 43.75em) {
  div.content,
  .content p {
    font-size: 1.15em;
    line-height: 1.6;
    color: #131516;
  }
}

.content ol,
.content ul {
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 0em;
}

.content ol:not(:last-child),
.content p:not(:last-child),
.content pre:not(:last-child),
.content table:not(:last-child),
.content ul:not(:last-child) {
  margin-bottom: 1.25em;
}

.content a {
  color: #373d3f !important;
}

.content a:not(.button) {
  border-bottom: 2px solid #d3d6db;
}

.content a:hover {
  color: #000 !important;
  border-bottom: 3px solid #d3d6db !important;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  font-family: "Fira Sans", sans-serif !important;
  font-weight: 600 !important;
}

.content h1,
.content h2 {
  color: #f03c02;
}

.content h3,
.content h4,
.content h5,
.content h6 {
  color: #1d2a31;
}

body {
  font-size: 100%;
}

body,
button,
input,
select,
textarea {
  font-family: "Lato", Arial, Helvetica, Calibri, sans-serif;
}

code,
pre {
  font-family: "JetBrains Mono", "Source Code Pro", Inconsolata, Iosevka, Meslo,
    Monaco, "Ubuntu Mono", "Liberation Mono", "Consolas", monospace;
  font-feature-settings: "liga" 0, "calt" 0, "dlig" 0;
}

.content pre code {
  font-size: 13px !important;
  line-height: 1.35;
}

@media (min-width: 43.75em) {
  .content pre code {
    font-size: 15px !important;
    line-height: 1.35;
  }
}

.highlight {
  margin-bottom: 40px !important;
}

body,
caption,
th,
td,
input,
textarea,
select,
option,
legend,
fieldset,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size-adjust: 0.5;
}

.title {
  font-size: 2em;
  line-height: 1.25;
}

@media (min-width: 43.75em) {
  .title {
    font-size: 2.625em;
    line-height: 1.05;
  }
}

.content h1 {
  font-size: 1.625em;
  line-height: 1.15;
}

@media (min-width: 43.75em) {
  .content h1 {
    font-size: 2.25em;
    line-height: 1.25;
  }
}

.content h2 {
  font-size: 1.375em;
  line-height: 1.13636364;
}

@media (min-width: 43.75em) {
  .content h2 {
    font-size: 1.75em;
    line-height: 1.25;
  }
}

.content h3 {
  font-size: 1.25em;
  line-height: 1.11111111;
}

@media (min-width: 43.75em) {
  .content h3 {
    font-size: 1.375em;
    line-height: 1.22222222;
  }
}

.content h4 {
  font-size: 1.1em;
  line-height: 1.11111111;
}

@media (min-width: 43.75em) {
  .content h4 {
    font-size: 1.125em;
    line-height: 1.22222222;
  }
}

blockquote {
  font-size: 1.25em;
  line-height: 1.25;
}

@media (min-width: 43.75em) {
  blockquote {
    font-size: 1.5em;
    line-height: 1.45833333;
  }
}

.subtitle.is-5 code,
.subtitle.is-6,
.subtitle.is-6 code {
  font-size: 18px;
  line-height: 1.4;
  font-weight: 400;
  font-family: "Fira Sans", sans-serif !important;
  color: #a4bcc2 !important;
}

.subtitle.is-6 a {
  text-decoration: none !important;
  color: #a4bcc2;
}

.subtitle.is-6 a:hover {
  text-decoration: none !important;
  color: #1c0113 !important;
}

.content h1:not(:first-child),
.content h2:not(:first-child),
.content h3:not(:first-child),
article + article {
  margin-top: 25px;
}

.content h4:not(:first-child),
.content h5:not(:first-child),
.content h6:not(:first-child) {
  margin-top: 15px;
}

.notfound {
  font-family: "Space Mono", monospace;
}

/*Custom classes*/

h5.metadata {
  color: #cccccc !important;
  font-weight: 400 !important;
  font-family: "Fira Sans", sans-serif;
}

.bottompanel {
  left: 0;
  bottom: 250px;
  width: 100%;
  height: 150px;
  background-color: #1d2a31 !important;
  opacity: 95%;
  color: white;
  text-align: center;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #1d2a31 !important;
  color: #ffffff;
  text-align: center;
  font-family: "Poppins", "Lato", Arial, Helvetica, Calibri, sans-serif !important;
}

.footer.section {
  background-color: #282a37 !important;
}

.footer-top-pad {
  padding: 15px 0 0 0 !important;
}

.footer a,
.footer a:visited {
  color: #ffffff !important;
}

.footer a {
  text-decoration: none !important;
  border-bottom: 0px !important;
}

.footer a:hover {
  text-decoration: none !important;
  border-bottom: 0px !important;
  color: #ffe22c !important;
  opacity: 100%;
}

.poweredby {
  font-weight: 700;
  font-size: 1.375rem;
  letter-spacing: 0.5px;
  padding: 50px 0 0 0;
  font-family: "Fira Sans", "Lato", Arial, Helvetica, Calibri, sans-serif;
}

@media (min-width: 43.75em) {
  .poweredby {
    font-weight: 700;
    font-size: 1.75em;
    padding: 45px 0 0 0;
    font-family: "Fira Sans", "Lato", Arial, Helvetica, Calibri, sans-serif;
  }
}

.poweredby-projects-text {
  opacity: 50%;
  font-family: "Poppins", "Lato", Arial, Helvetica, Calibri, sans-serif;
  padding: 0px 50px 0 50px;
}

.license,
.footer-text-size {
  font-size: 14px;
}

@media (min-width: 43.75em) {
  .license,
  .footer-text-size {
    font-size: 16px;
  }
}

.footer a:hover {
  opacity: 100%;
}

.footer-text-low-opacity a {
  opacity: 30%;
}

.footer-text-low-opacity a:hover {
  opacity: 100%;
  transition: 0.3s;
}

.section-index,
.section-article {
  background-color: #fff;
  padding: 0px 20px 40px 20px;
}

.footeremoji {
  font-size: 28px;
}

@media (min-width: 43.75em) {
  .footeremoji {
    font-size: 36px;
  }
}

.blink {
  animation: blinker 1.2s linear infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.hanchor {
  visibility: hidden;
  font-size: 100%;
  padding-left: 8px;
  font-weight: 700;
  font-family: "JetBrains Mono", monospace !important;
}

.content h2 a:not(.button),
.content h3 a:not(.button),
.content h4 a:not(.button) {
  text-decoration: none !important;
  border-bottom: 0px !important;
  color: #d3d3d3 !important;
}

.content h2:hover a,
.content h3:hover a,
.content h4:hover a {
  visibility: visible;
  transition: 0.3s;
  text-decoration: none !important;
  border: 0px 0px 0px 0px !important;
}

.content h2:hover a:hover,
.content h3:hover a:hover,
.content h4:hover a:hover {
  color: #a9a9a9 !important;
  transition: 0.3s;
}

.plaintext {
  font-family: "JetBrains Mono", "Source Code Pro", Inconsolata, Iosevka, Meslo,
    Monaco, "Ubuntu Mono", "Liberation Mono", consolas, monospace;
  font-size: 15px !important;
  font-weight: 400;
  font-feature-settings: "liga" 0, "calt" 0, "dlig" 0;
  line-height: 1.35;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  background-color: #f5f7fa;
  color: #42464c;
  overflow-x: auto;
  padding: 1em;
  display: block;
  white-space: pre;
  word-wrap: normal;
  overflow: hidden;
  margin-bottom: 40px !important;
  border-width: 1px;
  border-color: #ccc;
  border-style: solid;
}

.admonition {
  display: block;
  padding: 20px !important;
  margin-top: 2em;
  margin-bottom: 2em;
  overflow-x: auto;
  background-color: #f5f7fa;
  color: #42464c;
  border-width: 0.375rem;
  border-left-style: solid;
}

.admonition-blue {
  border-color: #0594cb;
}

.admonition-orange {
  border-color: orange;
}

.admonition-red {
  border-color: red;
}

.admonition-green {
  border-color: rgb(3, 238, 3);
}

.meta-mobile-disappear {
  visibility: hidden !important;
}

@media (min-width: 43.75em) {
  .meta-mobile-disappear {
    visibility: visible !important;
  }
}
