{{ partial "header" . }}
<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title notfound">404</h1>
      <h2 class="subtitle is-4">That 1010 page was not found</h2>
      <a class="button" href="{{ .Site.BaseURL }}">Home Page</a>
    </div>
  </div>
</section>
{{ partial "footer" . }}
