{{ partial "header" . }} {{ partial "nav" . }}
<section class="section-index">
  <div class="container">
    {{- $pages := . -}} {{- if .IsHome -}} {{- $pages = .Site.RegularPages -}}
    {{- else -}} {{ $pages = .Pages -}} {{- end -}} {{ $paginator := .Paginate
    (where $pages "Params.hidden" "ne" true) }} {{ range sort .Paginator.Pages
    }}
    <article>
      <h2 class="subtitle is-6 date">
        {{- $.Site.Params.Info.dateFormat | default "January 2, 2006" |
        .Date.Format -}}
      </h2>
      <h1 class="title">
        <a href="{{ .Permalink }}"
          >{{ .Title }}{{ partial "taxonomies_count" . }}</a
        >{{ if .Draft }} ::Draft{{ end }}
      </h1>
      <div class="content">
        <p>{{ .Summary | plainify | safeHTML }}
        {{ if .Truncated }}
        <a class="button is-link" href="{{ .Permalink }}" style="height: 28px">
          Read more
        </a></p>
        {{ end }}
      </div>
    </article>
    {{ end }}
  </div>
</section>
{{ partial "pager" . }} {{ partial "footer" . }}
