{{ partial "header" . }} {{ partial "nav" . }}
<section class="section-article">
  <div class="container">
    <h2 class="subtitle is-6">
      {{ if .GitInfo }} Version: @<a
        href="https://gitlab.com/1010/1010.gitlab.io/blob/{{ .GitInfo.Hash }}/content/{{ .File.Dir }}{{ .File.LogicalName }}"
        >{{ .GitInfo.AbbreviatedHash }}</a
      >
      · {{end}}
      <a
        href="https://gitlab.com/1010/1010.gitlab.io/commits/master/content/{{ .File.Dir }}{{ .File.LogicalName }}"
        >History</a
      >
      ·
      <a
        href="https://gitlab.com/1010/1010.gitlab.io/blob/master/content/{{ .File.Dir }}{{ .File.LogicalName }}"
        >Edit
      </a>
    </h2>
    <h1 class="title">{{ .Title }}</h1>
    {{ if and (.Site.Params.Info.adsense) (.Params.adsenseTop) }} {{ partial
    "adsense" . }} {{ end }}
    <div class="content">
      {{- with .Content -}}
      {{ . | replaceRE "(<h[2-4] id=\"([^\"]+)\".+)(</h[2-4]+>)" `${1}<a href="#${2}" class="hanchor" ariaLabel="Anchor">#</a>${3}`| safeHTML }}
      {{- end -}}
      <hr>
      <h5 class="metadata">
        {{ if .Params.tags }} {{ partial "tags" .Params.tags }} {{ end }} <br /> <br />
        Published: {{ .Date.Format "January 2, 2006" }} <br />
        Last update: {{ .Page.Lastmod.UTC }} <br />
        Compiled with Hugo v{{ hugo.Version }}
      </h5>
      {{ if .Site.Params.Info.related }}
      <div class="related">{{ partial "related" . }}</div>
      {{ end }}
    </div>
    {{ if and (.Site.Params.Info.adsense) (.Params.adsenseBottom) }} {{ partial
    "adsense" . }} {{ end}}
  </div>
</section>
{{ if (and (.Site.Params.Info.codeCopy) (findRE "<pre" .Content 1)) }}
<script async src="/js/copycode.js"></script>
{{ end }} {{ partial "disqus" . }} {{ partial "footer" . }}
